# Intent Manager Variables

# Only required for OCTO LLMs
NT_BEARER_TOKEN=
GEMINI_API_KEY=
INTENT_DB_NEO4J_USERNAME=
INTENT_DB_NEO4J_PASSWORD=

# Storage Controller Variables


# Data Placement Optimizer Variables

