# Intent Manager Variables

NT_BEARER_TOKEN= #Only required if using auth-required vLLM


GEMINI_API_KEY=

INTENT_DB_NEO4J_USERNAME=
INTENT_DB_NEO4J_PASSWORD=

# Storage Controller Variables
MOG_API_URL=  # e.g., http://0.0.0.0:30070


